<!DOCTYPE html>
<html>
<head>
  <title>Aldoapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="banner">
	<%= image_tag("aldologo.jpg", :size => "200x100") %>
	<%= @page_title || "" %>
</div>


<div id="nav">

	<ul>
	 <% if !signed_in? %>
		<li><%= link_to "Sign in", signin_path %></li>
	 <% else %>
		<li>Signed in as <%= @current_user.name %></li>
		<li><%= link_to "Sign Out", signout_path %></li>
		
	 <% end %>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Catalogue", items_path %></li>
		<li><%= link_to "Employees", employees_path %></li>
		<li><%= link_to "Customers", customers_path %></li>
		<li><%= link_to "New Transaction", new_sale_path %></li>
		<li><%= link_to "About", 'http://aldogroup.com' %></li>
		
	</ul>
	
</div>
<%= yield %>

</body>

</html>
<div id="footer">Paul Castles 2013</div>
